HTML {
    height: 100%;
}

Body {
    font-family: "Permanent Marker", cursive ;
    background-image: linear-gradient(to right, red, darkred, #943c22);
    color: black;
}

p {
    font-family: "Dancing Script";
    font-weight: bold;
}

.jumbotron {
    margin: auto;
    padding: 30px;
    background-image: linear-gradient(to right, red, darkred, #943c22);
    color: black;
    text-align: center;
}

.story {
    text-align: center;
}

#planeCrash {
    width: 100%;
    
}

.links {
    color: black;
}


.index-body {
    min-height: 100%;
    background-image: url(/Img/darkSeaNight.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


.waterTooWet {
    min-width: 100vw;
    max-height: 75vh;
    min-height: 55vh;
    z-index: 15;
}

.beachTooSandy {
    min-width: 100vw;
    max-height: 40vh;
    min-height: 30vh;
    z-index: 20;
}

.beachLady {
    max-width: 40vw;
    max-height: 50vh;
    z-index: 40;
}

.beachBonfire {
    max-width: 30vw;
    max-height: 30vh;
    z-index: 30;
    margin-left: 25%;
}


.modal-backdrop-about {
    background-image: url(/Img/ruledTornPaper.png);
    background-color: rgba(0,0,0,0) !important;
    background-size: 120% 125%;
    background-position: center;
    border: 0 none;
}

.modal-header-about {
    border-bottom: 0 none;
}

.modal-footer-about {
    border-top: 0 none;
}

.modal-title-about {
    font-size: 1.5rem;
}

.about-rotate {
    transform: rotate(-10deg);
}

.contact-rotate {
    transform: rotate(10deg);
}

.bottom-nav-bar {
    position:absolute;
}

/* -----------Fixed Window */

.page-container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: url(/Img/foggyDeadForest.jpg);
    background-color: rgb(0, 0, 0);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.all-content-box {
    position: relative;
    width: 85vw;
    height: 42vw;
    background-color: bisque;
    border: 1px solid black;
}


.home-page-bg {
    background-image: url(/Img/dullBeach.jpg);
    background-color: black;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* -----------Account Menu */

.broken-phone-button {
    background-image: url(/Img/brokenphone.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 9vw;
    height: 6vw;
    position: absolute;
    top: 80%;
    left: 69%;
    background-color: rgba(0,0,0,0);
    border: none;
    padding: 0;
    transition: transform 0.4s ease-in-out;
    
}

.broken-phone-button:focus{
    outline: none;
}

.broken-phone-button:hover{
    outline: none;
    transform: rotate(4deg);
}

.accountBubble {
    position: absolute;
    top: 71%;
    left: 69%;
    width: 4vw;
    height: 3.5vw;
    transform: scaleX(-1) rotate(6deg);
    display: none;
}

/* -----------About Menu */

.crumpled-paper-button {
    background-image: url(/Img/crumpledPaper.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 6vw;
    height: 6vw;
    position: absolute;
    top: 80%;
    left: 81%;
    background-color: rgba(0,0,0,0);
    border: none;
    padding: 0;   
    transition: transform 0.4s ease-in-out;
}

.crumpled-paper-button:focus {
    outline: none;
}

.crumpled-paper-button:hover {
    outline: none;
    transform: rotate(-4deg);
}

.aboutBubble {
    position: absolute;
    top: 68%;
    left: 80%;
    width: 4vw;
    height: 3.5vw;
    transform: scaleX(-1) rotate(-3deg);
    display: none;
}


/* -----------Contact Menu */

.old-postcard-button {
    background-image: url(/Img/oldPostcard.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 6vw;
    height: 5vw;
    position: absolute;
    top: 82%;
    left: 90%;
    background-color: rgba(0,0,0,0);
    border: none;
    padding: 0;
    transition: transform 0.4s ease-in-out;
}

.old-postcard-button:focus {
    outline: none;
}

.old-postcard-button:hover {
    outline: none;
    transform: rotate(4deg);
}

.contactBubble {
    position: absolute;
    top: 71%;
    left: 91%;
    width: 4vw;
    height: 3.5vw;
    transform: scaleX(-1) rotate(-10deg);
    display: none;
}


/* -----------Start Game Button */

.start-game-button {
    background-image: url(/Img/animatedBonefire.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 15vw;
    height: 13vw;
    position: absolute;
    top: 60%;
    left: 25%;
    background-color: rgba(0,0,0,0);
    border: none;
    padding: 0;
    transition: transform 0.4s ease-in-out;
}

.start-game-button:focus {
    outline: none;
}

.start-game-button:hover {
    outline: none;
    background-image: url(/Img/animatedBonefire.gif), url(/Img/animatedSmoke.gif);
    background-position: center center, center top;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, 10vw;
    
}

.startGameBubble {
    position: absolute;
    top: 65%;
    left: 40%;
    width: 4vw;
    height: 3.5vw;
    transform: rotate(10deg);
    display: none;
}

/* -----------BackPack Buttons */

.closed-backpack-button {
    background-image: url(/Img/closedGreenBackpack.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100;
    width: 12vw;
    height: 12vw;
    position: absolute;
    top: 67%;
    left: 0;
    background-color: rgba(0,0,0,0);
    border: none;
    padding: 0;
    transition: transform 0.4s ease-in-out;
}

.closed-backpack-button:focus {
    outline: none;
}

.closed-backpack-button:hover {
    outline: none;
    transform: rotate(4deg);
}

.open-backpack-button {
    background-image: url(/Img/openGreenBackpack.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100;
    width: 14vw;
    height: 14vw;
    position: absolute;
    top: 67%;
    left: 0;
    background-color: rgba(0,0,0,0);
    border: none;
    padding: 0;
    transition: transform 0.4s ease-in-out;
    display: none;
}

.open-backpack-button:focus {
    outline: none;
}

.open-backpack-button:hover {
    outline: none;
    transform: rotate(-4deg);
}

.backpack-menu-bg {
    background-color: rgba(0,0,0,0.4);
    width: 18vw;
    height: 18vw;
    border-radius: 0% 80% 0% 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
}

.backpackBubble {
    position: absolute;
    top: 63%;
    left: 12%;
    width: 5vw;
    height: 4vw;
    transform: rotate(14deg);
    display: none;
}

/* -----------BackPack Menu */

.backpackMenu {
    display: none;
}

/* -----------Clues */

.clues-button {
    background-image: url(/Img/evidenceFile.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 110;
    width: 5vw;
    height: 5vw;
    position: absolute;
    top: 50%;
    left: 2%;
    background-color: rgba(0,0,0,0);
    border: none;
    padding: 0;
    transition: transform 0.4s ease-in-out;
}

.clues-button:focus {
    outline: none;
}

.clues-button:hover {
    outline: none;
    transform: rotate(4deg);
}

.cluesBubble {
    position: absolute;
    top: 43%;
    left: 7%;
    width: 3.5vw;
    height: 3vw;
    transform: rotate(-4deg);
    display: none;
}

/* -----------Map */

.map-button {
    background-image: url(/Img/foldedMap.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 110;
    width: 7.5vw;
    height: 6vw;
    position: absolute;
    top: 53%;
    left: 7%;
    background-color: rgba(0,0,0,0);
    border: none;
    padding: 0;
    transition: transform 0.4s ease-in-out;
}

.map-button:focus {
    outline: none;
}

.map-button:hover {
    outline: none;
    transform: rotate(4deg);
}

.mapBubble {
    position: absolute;
    top: 48%;
    left: 14%;
    width: 3.5vw;
    height: 3vw;
    transform: rotate(3deg);
    display: none;
}

/* -----------Notes */

.notes-button {
    background-image: url(/Img/spiralNotebook.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 110;
    width: 6.5vw;
    height: 6vw;
    position: absolute;
    top: 63%;
    left: 13%;
    background-color: rgba(0,0,0,0);
    border: none;
    padding: 0;
    transition: transform 0.4s ease-in-out;
}

.notes-button:focus {
    outline: none;
}

.notes-button:hover {
    outline: none;
    transform: rotate(4deg);
}

.notesBubble {
    position: absolute;
    top: 58%;
    left: 19.5%;
    width: 3.5vw;
    height: 3vw;
    transform: rotate(14deg);
    display: none;
}

/* -----------Hints */

.hints-button {
    background-image: url(/Img/magnifyingGlass.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 110;
    width: 5.5vw;
    height: 5.5vw;
    position: absolute;
    top: 75%;
    left: 16%;
    background-color: rgba(0,0,0,0);
    border: none;
    padding: 0;
    transition: transform 0.4s ease-in-out;
}

.hints-button:focus {
    outline: none;
}

.hints-button:hover {
    outline: none;
    transform: rotate(4deg);
}

.hintsBubble {
    position: absolute;
    top: 70%;
    left: 23%;
    width: 3.5vw;
    height: 3vw;
    transform: rotate(22deg);
    display: none;
}