* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#planeCanvas {
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 98%;
    max-height: 95%;
    background: url(../Img/planecrash2.jpg);
    background-position: relative;
    
}