* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

#planeCanvas {
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 98%;
    max-height: 95%;
    background: url(../Img/planecrash2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;

}


.DHLboxBtn {
    width: 120;
    height: 80;
    position: absolute;
    top: 80%;
    left: 69%;
    background-color: rgba(0,0,0,0);
    border: solid 2px black;
    padding: 0;
    transition: transform 0.4s ease-in-out;
    z-index: 10;
}

.DHLboxBtn:focus{
    outline: none;
}

.DHLboxBtn:hover{
    background-image: url(../Img/star-burst.gif);
    outline: none;
    transform: rotate(4deg);
}

/* .accountBubble {
    position: absolute;
    top: 71%;
    left: 69%;
    width: 4vw;
    height: 3.5vw;
    transform: scaleX(-1) rotate(6deg);
    display: none;
} */