* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

#planeCanvas {
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 98%;
    max-height: 95%;
    background: url(../Img/planecrash2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}